.principal{
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-around;
}

.metade{
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  width: 40%;
}

.esquerda{
  background-color: pink;  
  color: palevioletred;
}

.direita{
  background-color: lightgreen;
  color: green;
}

.divisor{
  background-color: grey;
  width: 3px;
  height: 45em;
}

.espaço-branco{
  background-color: white;
  border: dashed gray;
  border-radius: 1em;
  min-width: 3em;
  min-height: 3em;
}